body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

h1 {
    font-size: 28px;
}

.module-box {
    background: white;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    text-align: left;
}

input {
    width: 95%;
    padding: 12px;
    margin-top: 15px;
    font-size: 16px;
}

button {
    margin-top: 25px;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background: #007aff;
    color: white;
}

.btn-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.error-text {
    color: red;
    margin-top: 10px;
}

.back-btn {
    margin-top: 15px;
    background: #555;
}
